form {padding: 20px;}

label {margin: 15px 0px; clear: both; display: block; color: #FFFFFF;}

input {padding: 4px; border: solid 1px #262626;}

::placeholder, option, value {color: #31a3dd; font-weight: bold;}

*:focus {border-color: #31a3dd; }

input[type="submit"] {padding: 10px 20px; text-transform: uppercase; cursor: pointer; background-color: #31a3dd; border: solid 1px #ededed;}

input[type="submit"]:hover {background-color: #82C8EA;}

.bacground-gbc {
	position: absolute;
width: 600px;
top: 10%;
left:20%;
height:600;




background: radial-gradient(61.24% 43.3% at 50% 50%, #1F4F65 0%, #1F4F65 100%);
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.but {
position: absolute;
width: 600px;
top: 90%;
left:20%;
height:200;
}